{% extends "rvmgGSBBundle:Default:baseComptable.html.twig" %}
{% block title %}
    Valider fiche de frais
{% endblock %}
{% block body %}
    <!-- <span style="display: none;"> -->
    <div class="container">
        {{form_start(form)}}
        {{form_widget(form.visitor)}}
        {{form_widget(form.month, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} {{ year }}'})}}
        <div class="BoutonForm"><input type="submit" value="Valider" class="btn btn-primary" />
        <input type="reset" value="Annuler" class="btn btn-danger" /></div>
        {{form_end(form)}}
    </div>
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-info">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}