{% extends "rvmgGSBBundle:Default:baseVisiteur.html.twig" %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-5">
                <div class="margin-top-20">
                    {{form_start(form)}}
                    {{form_row(form.idfraisforfait)}}
                    {{form_row(form.quantite)}}
                    <input type="submit" class="btn btn-success" value="Valider"/>
                    <input type="reset" class="btn btn-danger" />
                    {{form_end(form)}}

                </div>

            </div>
            <div class="col-lg-2">

            </div>

            <div class="col-lg-5">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Frais forfait</td>
                            <td>Quantité</td>
                        </tr>
                    </thead>
                    {%for ligne in lignesFraisForfait%}
                    <tbody>
                        <tr>
                            <td>{{ligne.idfraisforfait.libelle}}</td>
                            <td>{{ligne.quantite}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# Revenir à la page précédente en javascript #}
    <div class="text-center">
        <a href="" onClick="javascript:window.history.go(-1)"><button type="submit" class="btn btn-primary">Retour</button></a>                       
    </div> 
{% endblock %}