{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}
{% block stylesheets %}
       {{ parent() }}
    {% endblock %}
{% block body %}
    <h1 align="center">Galaxy Swiss Bourdin</h1>
    <br/>
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-info">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="containerAccueil">
        {{ form_start(form) }}
        <div class="ChampForm">{{ form_label(form.login) }}</div>
        {{ form_widget(form.login) }}
        {{form_errors(form.login) }}
        <div class="ChampForm">{{ form_label(form.mdp) }}</div>
        {{ form_widget(form.mdp) }}
        {{form_errors(form.mdp) }}
        <div class="ChampForm">{{ form_label(form.profil) }}</div>
        <div class="radioButton">{{ form_widget(form.profil) }}</div>
        {{ form_errors(form.profil) }}
        <div class="BoutonForm"><input type="submit" value="Valider" class="btn btn-primary" />
            <input type="reset" value="Annuler" class="btn btn-danger" /></div>
        {{ form_end(form) }}
    </div>
        
    <br/>
{% endblock %}
