<! DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="{{ asset('bundles/rvmggsb/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/rvmggsb/css/style.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/rvmggsb/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="{{ asset('bundles/rvmggsb/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/rvmggsb/js/bootstrap.js') }}"></script>           
            <title>
                {% block title %}{% endblock %}
            </title>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Galaxy Swiss Bourdin</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fiches Frais <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Valider</a></li>
                                    <li><a href="#">Suivre</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Paramètres</a></li>
                            {% block identite %}
                                <div class="CouleurConnecte">{{ app.session.get('user_firstname')~ " " ~app.session.get('user_lastname') }}</div>
                            {% endblock %}
                            <li id="Deco"><a href="{{ path('rvmg_gsb_deconnexion') }}">Déconnexion</a>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <p>&copy; Copyright 2016 by Romain Venel & Maxime Genevier</p> 
            {% endblock %}
        </div>
    </body>
</html>