<! DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="{{ asset('bundles/rvmggsb/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/rvmggsb/css/style.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/rvmggsb/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="{{ asset('bundles/rvmggsb/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/rvmggsb/js/bootstrap.js') }}"></script>
            <title>
                {% block title %}{% endblock %}
            </title>
        {% endblock %}
    </head>
    <body>
        <div id="header">
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <p>&copy; Copyright 2016 by Romain Venel & Maxime Genevier</p>
            {% endblock %}
        </div>
    </body>
</html>